In [2]:
import re

In [3]:
text = 'Python Exercises, PHP exercises.'

In [4]:
print(re.sub("[ ,.]",":",text))

Python:Exercises::PHP:exercises:

In [5]:
import pandas as pd
import re

data = {'SUMMARY': ['hello, world!', 'XXXXX test', '123four, five:; six...']}
df = pd.DataFrame(data)
df['SUMMARY'] = df['SUMMARY'].apply(lambda x: re.sub(r'[^\w\s]', '', x))

In [6]:
print (df)

            SUMMARY
0       hello world
1        XXXXX test
2  123four five six

In [7]:
def find_long_words(input_string):
    pattern = re.compile(r'\b\w{4,}\b')
    long_words = pattern.findall(input_string)
    return long_words

In [8]:
string_1 = "Vishal Bhardwaj said he was convinced with Saif Ali Khan after watching him in Dil Chahta Hai"

In [9]:
result = find_long_words(string_1)

In [10]:
print("Words with at least 4 characters:", result)

Words with at least 4 characters: ['Vishal', 'Bhardwaj', 'said', 'convinced', 'with', 'Saif', 'Khan', 'after', 'watching', 'Chahta']

In [11]:
def find_specific_length_words(input_string):
    pattern = re.compile(r'\b\w{3,5}\b')
    specific_length_words = pattern.findall(input_string)
    return specific_length_words

In [12]:
result = find_specific_length_words(string_1)

In [13]:
print("Three, four, and five-character words:", result)

Three, four, and five-character words: ['said', 'was', 'with', 'Saif', 'Ali', 'Khan', 'after', 'him', 'Dil', 'Hai']

In [14]:
def remove_parentheses(strings_list):
    pattern = re.compile (r'\s*\(([^)]*)\)\s*')
    cleaned_strings = [pattern.sub(r'\1', s) for s in strings_list]
    
    return cleaned_strings

In [15]:
string_2 = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

In [16]:
result = remove_parentheses(string_2)

In [17]:
for cleaned_string in result:
    print(cleaned_string)

example.com
hr@fliprobo.com
github.com
HelloData Science World
DataScientist

In [18]:
def remove_parentheses(strings_list):
    pattern = re.compile(r'\([^)]*\)')
    cleaned_strings = [pattern.sub('', s) for s in strings_list]
    
    return cleaned_strings

In [19]:
result = remove_parentheses(string_2)

In [20]:
print("Strings without parentheses:", result)

Strings without parentheses: ['example ', 'hr@fliprobo ', 'github ', 'Hello ', 'Data ']

In [21]:
String3 = "ImportanceOfRegularExpressionsInPython"

In [22]:
result = re.findall(r'[A-Z][a-z]*', String3)

In [23]:
print(result)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [24]:
String4 = "RegularExpression1IsAn2ImportantTopic3InPython"

In [25]:
def spaces(input_string):
    result = re.sub(r'(?<=\D)(?=\d)', ' ', input_string)
    return result

In [26]:
output = spaces(String4)

In [27]:
print(output)

RegularExpression 1IsAn 2ImportantTopic 3InPython

In [28]:
def Q9(input_string):
    result = re.sub(r'(?<=[A-Z\d])(?=[A-Z])|(?<=\D)(?=\d)', ' ', input_string)
    return result

In [29]:
output = Q9(String4)

In [30]:
print(output)

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [36]:
import pandas as pd

In [37]:
Q10 = "https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv"

In [38]:
df = pd.read_csv(Q10)

In [40]:
df['first_five_letters'] = df['Country'].apply(lambda x: x[:6])

In [41]:
print(df.head())

       Country          Region  Happiness Rank  Happiness Score  \
0  Switzerland  Western Europe               1            7.587
1      Iceland  Western Europe               2            7.561
2      Denmark  Western Europe               3            7.527
3       Norway  Western Europe               4            7.522
4       Canada   North America               5            7.427

   Standard Error  Economy (GDP per Capita)   Family  \
0         0.03411                   1.39651  1.34951
1         0.04884                   1.30232  1.40223
2         0.03328                   1.32548  1.36058
3         0.03880                   1.45900  1.33095
4         0.03553                   1.32629  1.32261

   Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
0                   0.94143  0.66557                        0.41978
1                   0.94784  0.62877                        0.14145
2                   0.87464  0.64938                        0.48357
3                   0.88521  0.66973                        0.36503
4                   0.90563  0.63297                        0.32957

   Generosity  Dystopia Residual first_five_letters
0     0.29678            2.51738             Switze
1     0.43630            2.70201             Icelan
2     0.34139            2.49204             Denmar
3     0.34699            2.46531             Norway
4     0.45811            2.45176             Canada

In [42]:
def matching(string):
    pattern = r'^[a-zA-Z0-9_]+$'
    if re.match(pattern, string):
        print("Pattern matches")
    else:
        print("Pattern does not match")

In [44]:
output1 = matching (string_1)
output3 = matching (String3)

Pattern does not match
Pattern matches

In [45]:
def num_match(string):
    text = re.compile(r"^8")
    if text.match(string):
        return True
    else:
        return False

In [46]:
print(num_match('861695069666951'))
print(num_match('13880646990005v'))

True
False

In [47]:
import ipaddress

In [48]:
def rem_lead_zero(ip_address):
    pattern = re.compile(r'\b0+(\d+)\b')
    cleaned_ip = '.'.join([pattern.sub(r'\1', octet) for octet in ip_address.split('.')])
    
    return cleaned_ip

In [49]:
ip_with_zeros = "192.010.001.001"
cleaned = rem_lead_zero(ip_with_zeros)

In [50]:
print(f"Original IP: {ip_with_zeros}")
print(f"Cleaned IP:  {cleaned}")

Original IP: 192.010.001.001
Cleaned IP:  192.10.1.1

In [51]:
def extract_date(text):
    date_pattern = re.compile(r'\b([A-Za-z]+ \d{1,2}(st|nd|rd|th)? \d{4})\b')
    match = date_pattern.search(text)

    if match:
        return match.group(1)
    else:
        return None

In [52]:
String5 = 'On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country'

In [53]:
date_string = extract_date(String5)

In [54]:
print("Extracted Date:", date_string)

Extracted Date: August 15th 1947

In [55]:
Q15  = [ 'fox', 'dog', 'horse' ]

In [56]:
String6 = 'The quick brown fox jumps over the lazy dog.'

In [58]:
for pattern in Q15:
    print('Searching for "%s" in "%s" ->' % (Q15, String6),)
    if re.search(pattern,  String6):
        print('Matched!')
    else:
        print('Not Matched!')

Searching for "['fox', 'dog', 'horse']" in "The quick brown fox jumps over the lazy dog." ->
Matched!
Searching for "['fox', 'dog', 'horse']" in "The quick brown fox jumps over the lazy dog." ->
Matched!
Searching for "['fox', 'dog', 'horse']" in "The quick brown fox jumps over the lazy dog." ->
Not Matched!

In [59]:
Q16 = 'fox'

In [60]:
match = re.search(Q16, String6)
s = match.start()
e = match.end()

In [61]:
print('Found "%s" in "%s" from %d to %d ' % \
    (match.re.pattern, match.string, s, e))

Found "fox" in "The quick brown fox jumps over the lazy dog." from 16 to 19

In [62]:
String7 = 'Python exercises, PHP exercises, C# exercises'

In [63]:
Find = 'exercises'

In [68]:
for match in re.findall(Find, String7):
    print('Found "%s"' % match)

Found "exercises"
Found "exercises"
Found "exercises"

In [69]:
def Q18(text, Find):
    occurrences = 0
    positions = []
    index = text.find(Find)

    while index != -1:
        occurrences += 1
        positions.append(index)
        index = text.find(Find, index + 1)

    return occurrences, positions

In [70]:
occurrences, found_positions = Q18(String7, Find)

In [71]:
if occurrences > 0:
    print(f'The substring "{Find}" occurs {occurrences} times at the following positions:')
    for position in found_positions:
        print(f'Position: {position}')
else:
    print(f'The substring "{Find}" is not found in the text.')

The substring "exercises" occurs 3 times at the following positions:
Position: 7
Position: 22
Position: 36

In [78]:
from datetime import datetime

In [79]:
date = "1990-09-12"

In [85]:
converted_date = Q19(date)

In [86]:
def Q19(date):
    parsed_date = datetime.strptime(date, '%Y-%m-%d')

    output_date = parsed_date.strftime('%d-%m-%Y')

    return output_date

In [87]:
print(converted_date)

12-09-1990

In [88]:
string8 = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"

In [89]:
def Q20(input_string):
    pattern = re.compile(r'\b\d+\.\d{1,2}\b')
    matches = pattern.findall(input_string)
    return matches

In [90]:
result = Q20(string8)

In [92]:
print("Ans_20", result)

Ans_20 ['01.12', '145.8', '3.01', '27.25', '0.25']

In [93]:
String9 = "Rahul also talked about the chances of Rinku earning his maiden ODI cap in the series after a stellar show in the two T20I series he played where he scored 187 runs in 109 balls across six innings with a fifty."

In [94]:
def Q21(input_string):
    pattern = re.compile(r'\b\d+\b')
    matches = pattern.finditer(input_string)
    
    result = []
    for match in matches:
        number = match.group()
        position = match.start()
        result.append((number, position))

    return result

In [95]:
result = Q21(String9)

In [96]:
print("Ans_21")
for number, position in result:
    print("N: {number}, P: {position}")

Ans_21
N: {number}, P: {position}
N: {number}, P: {position}

In [97]:
String10 = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'

In [98]:
def Q22(input_string):
    numeric_values = re.findall(r'\b\d+\b', input_string)
    max_numeric_value = max(map(int, numeric_values), default=None)

    return max_numeric_value

In [99]:
result = Q22(String10)

In [100]:
print("Ans_22:", result)

Ans_22: 950

In [113]:
String11 = "RegularExpressionIsAnImportantTopicInPython"

In [114]:
def Q23(input_string): 
    Capitals_words = re.findall(r'[A-Z][a-z]*', input_string)
    for word in Capitals_words:
        input_string = input_string.replace(word, f' {word}')
    return input_string

In [115]:
result = Q23(String11)

In [116]:
print("Ans_23:", result)

Ans_23:  Regular Expression Is An Important Topic In Python

In [117]:
def Q24(input_string):
    pattern = re.compile(r'([A-Z][a-z]+)')
    sequences = pattern.findall(input_string)
    return sequences

In [118]:
result = Q24(String6)

In [119]:
print("Ans.24", result)

Ans.24 ['The']

In [120]:
String12 = "Hello hello world world"

In [121]:
def Q25(sentence):
    pattern = re.compile(r'\b(\w+)(?:\s+\1)+\b')
    cleaned_sentence = pattern.sub(r'\1', sentence)

    return cleaned_sentence

In [123]:
Ans_25 = Q25(String12)

In [126]:
print("Ans.25:", Ans_25)

Ans.25: Hello hello world

In [127]:
def Q26(input_string):
    pattern = re.compile(r'\w$')
    return bool(pattern.search(input_string))

In [128]:
result = Q26(String10)

In [129]:
if result:
    print(f'The string "{String10}" ends with an alphanumeric character.')
else:
    print(f'The string "{String10}" does not end with an alphanumeric character.')

The string "My marks in each semester are: 947, 896, 926, 524, 734, 950, 642" ends with an alphanumeric character.

In [131]:
def Q27(input_text):
    pattern = re.compile(r'#\w+')
    hashtags = pattern.findall(input_text)
    return hashtags

In [132]:
String13 = """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""

In [133]:
result = Q27(String13)

In [134]:
print("Ans_27:", result)

Ans_27: ['#Doltiwal', '#xyzabc', '#Demonetization']

In [135]:
String14 = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"

In [136]:
def Q28(input_text):
    pattern = re.compile(r'<U\+\w+>')
    cleaned_text = pattern.sub('', input_text)
    return cleaned_text

In [137]:
result = Q28(String14)

In [138]:
print("Ans.28:", result)

Ans.28: @Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [139]:
String15 = "Ron was born on 12-09-1992 and he was admitted to school 15-12-1999."

In [140]:
def Q29(input_string):
    pattern = re.compile(r'\b\d{2}-\d{2}-\d{4}\b')
    dates = pattern.findall(input_string)

    return dates

In [141]:
result = Q29(String15)

In [142]:
print("Ans_29:", result)

Ans_29: ['12-09-1992', '15-12-1999']

In [143]:
String16 = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

In [144]:
def Q30(input_string):
    pattern = re.compile(r'\b\w{2,4}\b')
    cleaned_string = pattern.sub('', input_string)
    return cleaned_string

In [145]:
result = Q30(String16)

In [146]:
print("Ans_30:", result)

Ans_30:  following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.